@model IEnumerable<PhotoStudio.Models.tblGallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
        function ConfirmationDialog(GalleryID) {
            if (confirm("Are you sure to delete?"))
                fnDeleteRecord(GalleryID);
            else
                return false;
        }

        function ConfirmDeleteAllImages()
        {
            if (confirm("Are you sure to delete all selected images?"))
                fnDeleteSelectedImages();
            else
                return false;
        }

        function fnDeleteRecord(GalleryID) {
            $.ajax({
                async: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: "{'id':'" + GalleryID + "'}",
                url: '/Gallery/DeleteImage',
                success: function (response) {
                    if (response.success === true) {
                        toastr.success(
                            response.message,
                            'Record is deleted',
                            {
                                timeOut: 1000,
                                fadeOut: 1000,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    }
                    else {
                        toastr.info(response.message, 'Record is not deleted', { timeOut: 3000 });
                    }
                },
                error: function () {
                    toastr.error('Error occur', 'Error occur while deleting record.', { timeOut: 3000 });
                }

            });
        }
    </script>
<script>
    $(document).ready(function () {

        $("#selectAll").click(function () {
            $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

        });

        $('#divspinner').modal('hide');
        var cmbCategory = $("#cmbCategory");
        var ddlCategory_Json = $("#ddlCategory_Json");
        $.ajax({
            type: "GET",
            url: "/Category/getAllCategory",
            data: "{}",
            success: function (data) {
                var CategoryData = '<option value="0">Select Category</option>';
                for (var i = 0; i < data.length; i++) {
                    CategoryData += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                }
                cmbCategory.html(CategoryData);
                ddlCategory_Json.html(CategoryData);
            }
        });
    });
</script>

<script>
    function fnInsertImages() {

        $('#divspinner').modal('show');
        $('#add-images').modal('hide');

        var cmbCategory = $("#cmbCategory");
        var chkApplyWaterMark = $('#chkApplyWaterMark').is(':checked');
        var _customerID = @ViewBag.CustomerID;
        var formData = new FormData();

        var ins = document.getElementById('inputProfile').files.length;
        if (ins <= 0)
        {
            toastr.warning('Input Error', 'Please Select Images.', { timeOut: 1000 ,fadeOut:1000});
            return;
        }
        for (var x = 0; x < ins; x++) {
            formData.append("imageFile", document.getElementById('inputProfile').files[x]);
        }
        formData.append("CustomerID", _customerID);
        formData.append("CategoryID", cmbCategory.val());
        formData.append("chkApplyWaterMark", chkApplyWaterMark);

        var result = __glb_fnIUDOperation(formData, '/Gallery/InsertImage');

        if (result.success == true) {
            $('#divspinner').modal('hide');
            toastr.success(
                result.message,
                'Record is inserted',
                {
                    timeOut: 1000,
                    fadeOut: 1000,
                    onHidden: function () {
                        window.location.reload();
                    }
                }
            );
        }
        else if (result.Formatwarning == true) {
            $('#divspinner').modal('hide');
            toastr.warning(
                result.message,
                'Picture format error',
                {
                    timeOut: 3000,
                    fadeOut: 1000,
                    onHidden: function () {
                        return;
                    }
                }
            );
        }
        else {
            $('#divspinner').modal('hide');
            toastr.error('Error occur', 'Error occur while inserting record.', { timeOut: 3000 });
            return;
        }
    }

    function fnDeleteSelectedImages()
    {
        var checkedimageID = new Array();
        $('input[type=checkbox]').each(function () {
            this.checked ? checkedimageID.push($(this).val()) : null;
        });

        if (checkedimageID.length <= 0)
        {
            toastr.warning('Input Error', 'Please select images by clicking on checkboxes.', { timeOut: 3000 });
            return;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Gallery/DeleteSelectedImages/",
            data: JSON.stringify({ CheckedID: checkedimageID}), // used to convert array into proper JSON format
            dataType: "json",
            success: function (response) {
                if (response.success === true) {
                    toastr.success(
                        response.message,
                        'Images deleted successfully.',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        }
                    );
                }
            },
            error: function () {
                toastr.error('Error occur', 'Error occur while saving images.', { timeOut: 1000 });
                return;
            }
        });
    }

    function fnDownloadJson() {
        var ddlCategory_Json = $("#ddlCategory_Json");
        var _customerID = @ViewBag.CustomerID;
        var formData = new FormData();
        formData.append("CustomerID", _customerID);
        formData.append("CategoryID", ddlCategory_Json.val());

        var response = __glb_fnIUDOperation(formData,'/Gallery/getJsonFile/');
        if (response.success == true) {
            toastr.success(
                response.message,
                'File Created',
                {
                    timeOut: 1000,
                    fadeOut: 1000,
                    onHidden: function () {
                        window.location.reload();
                    }
                }
            );
        }
        else
        {
            toastr.error('Error occur', response.message, { timeOut: 3000 });
            return;
        }

    }
</script>
<div class="modal fade" id="divspinner" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Uploading...
            </div>
            
        </div>
    </div>
</div>
<div id="add-images" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="H1">Add Images</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12 m-b-20">
                        Category: <select class="form-control" id="cmbCategory"></select><br /><br />
                        Images: <input type="file" multiple id="inputProfile" class="form-control" /><br /><br />
                        Apply Water Mark?: <input type="checkbox" id="chkApplyWaterMark" class="js-switch" />
                        <div class="modal-footer">
                            <input type="submit" value="Insert" class="btn btn-success" onclick="fnInsertImages()" />
                            <input type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" value="Cancel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-align-top-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Get JSON File</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputText">Category: </label>
                        <select id="ddlCategory_Json" class="custom-select"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnInsertBranch" value="Get Json" class="btn btn-primary" onclick="javascript:fnDownloadJson()" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Gallery List Of @ViewBag.CustomerName</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active">Gallery List</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Gallery list:</h4>
            </div>

            <div class="card-body">

                <div class="table-responsive m-t-40">
                    <button class="btn waves-effect waves-light btn-outline-success" data-toggle="modal" data-target="#add-images">
                        + Add Images
                    </button>
                    <input type="submit" value="Delete Selected Images" onclick="return ConfirmDeleteAllImages()" class="btn btn-danger" />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                        Get Selected Images
                    </button>
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>Image</th>
                                <th>Category Name</th>
                                <th>Is Selected</th>
                                <th>Created Date</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <th align="center"><input type="checkbox" id="@item.GalleryID" value="@item.GalleryID"></th>
                                <td align="center"> <a target="_blank" href="~/GalleryImages/@item.Image"><img src="~/GalleryImages/@item.Image" height="50px" width="50px" /></a></td>
                                <td align="left">@item.tblCategory.CategoryName</td>
                                @if (item.IsSelected == true)
                                {
                                    <td align="center" style="background:#3acc3a;color:white">Selected</td>

                                }
                                else
                                {
                                    <td align="center" style="background:#ff6363;color:white">Not Selected</td>
                                }
                                <td align='center'>@item.CreatedDate</td>
                                <td align="center">
                                    <button type="submit" class="btn btn-danger waves-effect waves-light" onclick="return ConfirmationDialog(@item.GalleryID)">
                                        <span class="btn-label"><i class="fa fa-trash"></i></span>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="~/adminassets/node_modules/datatables/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

<script>
    $(function () {
        $('#example23').DataTable();
        $(function () {
            var table = $('#example23').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 50,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf', 'print'
        ]
    });
    $('.buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
</script>