@model IEnumerable < PhotoStudio.Models.tblQuotation>
    
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
    $(document).ready(function () {
        fnShowMoreInfo(@ViewBag.AAVECID);
    });
    function fnShowMoreInfo(ID) {
        var formData = new FormData();
        formData.append("AAVEID", ID);
        $.ajax({
            type: "POST",
            processData: false,
            contentType: false,
            url: "/Quotation/getAlbumAndVideoEditingDetails",
            data: formData,
            success: function (data) {
                fnPopulateDivOfMoreInfo(data[0]);
            }
        });
    }

    function fnPopulateDivOfMoreInfo(data)
    {
        document.getElementById("lblAlbumPages").innerHTML = __glb_fnIsNullOrEmpty(data.ALBPG) ? "-" : data.ALBPG;
        document.getElementById("lblAlbumSize").innerHTML = __glb_fnIsNullOrEmpty(data.ALBSZ) ? "-" : data.ALBSZ + " Pages";
        document.getElementById("lblAlbumPrice").innerHTML = __glb_fnIsNullOrEmpty(data.ALBPR) ? "-" : data.ALBPR;
        document.getElementById("lblAlbumType").innerHTML = __glb_fnIsNullOrEmpty(data.ALBType) ? "-" : data.ALBType;

        document.getElementById("lblHDVDP").innerHTML = __glb_fnIsNullOrEmpty(data.HDVDDUBBPD) ? "-" : data.HDVDDUBBPD;

        document.getElementById("lblAlbumPadSize").innerHTML = __glb_fnIsNullOrEmpty(data.ALBPDSZ) ? "-" : data.ALBPDSZ;
        document.getElementById("lblAlbumPadPrice").innerHTML = __glb_fnIsNullOrEmpty(data.ALBPDPR) ? "-" : data.ALBPDPR;

        document.getElementById("lblLatherBagPrice").innerHTML = __glb_fnIsNullOrEmpty(data.ALBLBPR) ? "-" : data.ALBLBPR;

        document.getElementById("lblLEDScreen").innerHTML = __glb_fnIsNullOrEmpty(data.PLEDPR) ? "-" : data.PLEDPR;

        document.getElementById("lblFamilyBanner").innerHTML = __glb_fnIsNullOrEmpty(data.FamilyBannerPR) ? "-" : data.FamilyBannerPR;

        document.getElementById("lblSpecialAlbum").innerHTML = __glb_fnIsNullOrEmpty(data.SPALB) ? "-" : data.SPALB;

        document.getElementById("lblOriginalAmount").innerHTML = __glb_fnIsNullOrEmpty(data.OriginalAmount) ? "-" : data.OriginalAmount;
        document.getElementById("lblDissPer").innerHTML = __glb_fnIsNullOrEmpty(data.DissPer) ? "-" : data.DissPer;
        document.getElementById("lblDissAmt").innerHTML = __glb_fnIsNullOrEmpty(data.DissAmt) ? "-" : data.DissAmt;
        document.getElementById("lblFinalAmount").innerHTML = __glb_fnIsNullOrEmpty(data.FinalAmt) ? "-" : data.FinalAmt;

    }
    </script>

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Print Quotation</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Quotation")">Album And Vieo Editing Charges</a></li>
                    <li class="breadcrumb-item active">Print Quotation</li>
                </ol>
            </div>
        </div>
    </div>
    <main>
        <div class="card card-body" id="printarea">
            <center><img src="~/adminassets/images/MPS_Logo2.jpeg" height="60px" width="100px" /></center>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <span class="pull-left"><h3> &nbsp;<b class="text-danger">MANISH PHOTOSTUDIO</b></h3></span>
                            <p class="text-muted m-l-5">
                                Vardhaman Complex,
                                <br>Dinbandhu Society,
                                <br> Bhatar Road,
                                <br> Surat - 395007
                            </p>
                            <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> @DateTime.Now</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <caption>EMPLOYEES AND EQUIPMENTs CHARGES</caption>
                            <thead>
                                <tr>
                                    <th class="text-center">Event Date</th>
                                    <th class="text-center">Function</th>
                                    <th class="text-center" colspan="2">Cinematographers</th>
                                    <th class="text-center" colspan="2">Photographers</th>
                                    <th class="text-center">DSLR</th>
                                    <th class="text-center">Drones</th>
                                    <th class="text-center">LED Screens</th>
                                    <th class="text-center">Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.EventDate))</td>
                                        <td align="center">@item.FunctionName</td>
                                        <td align="center">Candid(@item.CandidCinematographers)</td>
                                        <td align="center">Regular(@item.RegularCinematographers)</td>
                                        <td align="center">Candid(@item.CandidPhotographer)</td>
                                        <td align="center">Regular(@item.RegularPhotographer)</td>
                                        <td align="center">@item.DSLR</td>
                                        <td align="center">@item.NumberOfDrones</td>
                                        <td align="center">@item.NumberOfLedScreens</td>
                                        <td align="center"> @Convert.ToDecimal(item.TotalAmount).ToString("0.00")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <tr>
                                <th colspan="4">Details</th>
                                <th>Amount</th>
                            </tr>
                            <tr>
                                <td><label id="lblAlbumSize"></label> Photo Book Album (<label id="lblAlbumType"></label>): </td>
                                <td>Pages: <label id="lblAlbumPages"></label></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblAlbumPrice"></label></td>
                            </tr>
                            <tr>
                                <td>HD Video Editing + Dubbing + pendrive:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblHDVDP"></label></td>
                            </tr>
                            <tr>
                                <td>Album Pad - <label id="lblAlbumPadSize"></label>:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblAlbumPadPrice"></label></td>
                            </tr>
                            <tr>
                                <td>Album Leadher Bag:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblLatherBagPrice"></label></td>
                            </tr>
                            <tr>
                                <td>Photo LED Frame in Reception:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblLEDScreen"></label></td>
                            </tr>
                            <tr>
                                <td>Reception Family Banner 5x3 size:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblFamilyBanner"></label></td>
                            </tr>
                            <tr>
                                <td>Groom & Bride Special Album:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><label id="lblSpecialAlbum"></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Total amount: <i class="fas fa-rupee-sign"></i> <label id="lblOriginalAmount"></label></p>
                        <p>Discount (<label id="lblDissPer"></label>%): <i class="fas fa-rupee-sign"></i> <label id="lblDissAmt"></label></p>
                        <hr>
                        <h3><b>Total :</b> <i class="fas fa-rupee-sign"></i> <label id="lblFinalAmount"></label></h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function () {
        $("#print").click(function () {
            var printContents = document.getElementById('printarea').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        });
    });
</script>